@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;900&family=Raleway:wght@100;400;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter-to,
.slide-leave {
  transform: translateX(0);
}

/* Slide from the left */
.slide-enter {
  transform: translateX(-100%);
}

.slide-leave-to {
  transform: translateX(100%);
}

/* Slide from the right */
.slide-enter.from-right {
  transform: translateX(100%);
}

.slide-leave-to.from-right {
  transform: translateX(-100%);
}
