@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;900&family=Raleway:wght@100;400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter-to,
.slide-leave {
  transform: translateX(0);
}

/* Slide from the left */
.slide-enter {
  transform: translateX(-100%);
}

.slide-leave-to {
  transform: translateX(100%);
}

/* Slide from the right */
.slide-enter.from-right {
  transform: translateX(100%);
}

.slide-leave-to.from-right {
  transform: translateX(-100%);
}

.menu {
  position: fixed;
  top: 82px;
  right: 0;
  height: 100vh;
  z-index: 9999 !important;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-line {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #7c3aed;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-line:last-child {
  margin-bottom: 0;
}

.menu-icon.clicked .menu-line:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.clicked .menu-line:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-icon.clicked .menu-line:nth-child(2) {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-to,
.fade-leave {
  opacity: 0.8;
  overflow: hidden;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  overflow: hidden;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3d3d3d;
  left: 0;
  opacity: 0.8;
  z-index: -10;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #4b5563;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.underline:hover::after {
  transform: scaleX(1);
}
